<div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-9">
                            <h3>Orders</h3>
                        </div>
                        <div class="col-md-3">
                            <nz-range-picker [(ngModel)]="date" [nzDisabledDate]="disabledDate"
                                [nzDisabledDate]="disabledDate" [nzFormat]="dateFormat" class="form-control"
                                (ngModelChange)="onChangeDatePicker($event)"></nz-range-picker>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <nz-table #rowSelectionTable nzShowPagination nzShowSizeChanger [nzData]="listOfAllData"
                        (nzCurrentPageDataChange)="currentPageDataChange($event)" class="vb__utils__table mb-4">
                        <thead>
                            <tr>
                                <th>Order No</th>
                                <th>Customer Name</th>
                                <th>Order Date</th>
                                <th>Amount (INR)</th>
                                <th>City</th>
                                <th>Pincode</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of rowSelectionTable.data">
                                <td>{{ data.order_no }}</td>
                                <td>{{ parseOrderDetails(data.order_details).first_name }} {{
                                    parseOrderDetails(data.order_details).last_name }}</td>
                                <td>{{ data.order_datetime | date: 'MMM d y h:mm a'}}</td>
                                <td>{{ data.amount }}</td>
                                <td>{{ parseOrderDetails(data.order_details).city }}</td>
                                <td>{{ parseOrderDetails(data.order_details).zip }}</td>
                                <td>
                                    <span class="badge bg-dark text-white">{{data.order_status}}</span>
                                </td>
                                <td>
                                    <button class="btn btn-primary" (click)="showModal(data.order_details)"
                                        title="View Order">
                                        <i class="fa fa-eye"></i></button>&nbsp;
                                    <button class="btn btn-danger" title="Cancel Order"><i
                                            class="fa fa-times"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start Here, For Create Distributor -->
<nz-modal [(nzVisible)]="isVisible" nzWidth="60%" nzTitle="Order Details" (nzOnCancel)="handleCancel()">
    <ng-container *nzModalContent>
        <div>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td width="60%">
                            <h2>
                                {{ orderDetail.shipping_address.first_name }}
                                {{ orderDetail.shipping_address.last_name }}
                            </h2>
                        </td>
                        <td width="40%">
                            <p><i class="fa fa-address-card"></i>&nbsp;{{orderDetail.shipping_address.address1}},</p>
                            <p>{{orderDetail.shipping_address.address2}},</p>
                            <p>
                                {{orderDetail.shipping_address.city}},
                                {{ orderDetail.shipping_address.province }},
                                {{orderDetail.shipping_address.country}} - {{orderDetail.shipping_address.zip}}
                            </p>
                            <p><i class="fa fa-phone"></i>&nbsp;{{orderDetail.shipping_address.phone}}</p>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Weight</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody *ngIf="orderDetail.line_items && orderDetail.line_items.length > 0">
                    <tr *ngFor="let item of orderDetail.line_items;">
                        <td>{{ item.title }}</td>
                        <td>{{ item.grams / 1000 }} KG</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price }}</td>
                    </tr>
                </tbody>
                <tbody *ngIf="orderDetail.line_items && orderDetail.line_items.length > 0">
                    <!-- Discount -->
                    <tr>
                        <th colspan="3" class="text-right">
                            Discount
                        </th>
                        <td>
                            {{ (orderDetail.current_total_discounts) ? orderDetail.current_total_discounts : '00.0' }}
                        </td>
                    </tr>
                    <!-- Shipping Charge -->
                    <tr>
                        <th colspan="3" class="text-right">
                            Shipping Charge
                        </th>
                        <td>
                            {{ 
                                (orderDetail.total_shipping_price_set && orderDetail.total_shipping_price_set.shop_money && orderDetail.total_shipping_price_set.shop_money.amount) 
                                ? orderDetail.total_shipping_price_set.shop_money.amount 
                                : '00.0' 
                            }}
                        </td>
                    </tr>
                    <!-- Total -->
                    <tr>
                        <th colspan="3" class="text-right">
                            Total
                        </th>
                        <td>{{ orderDetail.total_price }}</td>
                    </tr>
                </tbody>
                <tbody *ngIf="orderDetail.line_items && orderDetail.line_items.length == 0">
                    <tr>
                        <td colspan="4" class="text-center">Items not found</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-container>
    <div *nzModalFooter>
        <button class="btn btn-default btn-lg" (click)="handleCancel()">Close</button>&nbsp;
        <button type="submit" class="btn btn-danger btn-lg">
            <i class="fa fa-times"></i>&nbsp;Cancel Order
        </button>
    </div>
</nz-modal>
<!-- End Here, For Create Distributor -->