<div class="pt-5">
  <div class="card boxContainer mt-2">
    <div class="text-dark font-size-32 mb-3">Sign In</div>
    <form nz-form [nzLayout]="'vertical'" [formGroup]="form" role="form">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your phone!">
          <input type="text" nz-input formControlName="phone" placeholder="Phone Number" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item [hidden]="!isSentOTP">
        <nz-form-control nzErrorTip="Please input your OTP!">
          <input type="text" nz-input formControlName="otp" placeholder="OTP" />
        </nz-form-control>
        <nz-form-control>
          <a (click)="sendOTP()" class="pull-right">Resend OTP</a>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button *ngIf="!isSentOTP" nz-button nzType="primary" (click)="sendOTP()" [nzLoading]="loading"
            class="text-center w-100">
            <strong>Generate OTP</strong>
          </button>
          <button *ngIf="isSentOTP" nz-button nzType="primary" (click)="submitForm()" [nzLoading]="loading"
            class="text-center w-100">
            <strong>Submit</strong>
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
    <!-- <a routerLink="/auth/forgot-password" class="vb__utils__link">
      Forgot password?
    </a> -->
  </div>
  <!-- <div class="text-center pt-2 mb-auto">
    <span class="mr-2">Don't have an account?</span>
    <a routerLink="/auth/register" class="vb__utils__link">
      Sign up
    </a>
  </div> -->
</div>