<div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Distributors</h3>
                        </div>
                        <div class="col-md-4">
                            <nz-range-picker [(ngModel)]="date" [nzDisabledDate]="disabledDate"
                                [nzDisabledDate]="disabledDate" [nzFormat]="dateFormat" class="form-control"
                                (ngModelChange)="onChangeDatePicker($event)"></nz-range-picker>
                        </div>
                        <div class="col-md-2">
                            <button nz-button class="btn btn-primary px-5 pull-right" (click)="showModal()">
                                <span>Create</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <nz-table #rowSelectionTable nzShowPagination nzShowSizeChanger [nzData]="listOfAllData"
                        (nzCurrentPageDataChange)="currentPageDataChange($event)" class="vb__utils__table mb-4">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Pincode</th>
                                <th>Distributor Commision (%)</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of rowSelectionTable.data">
                                <td>{{ data.first_name }} {{ data.last_name }}</td>
                                <td>{{ data.phone }}</td>
                                <td>{{ data.email }}</td>
                                <td>{{ data.pin_code }}</td>
                                <td>{{ data.distributor_commision }}</td>
                                <td>
                                    <span class="badge bg-success text-white" *ngIf="data.status">Active</span>
                                    <span class="badge bg-danger text-white" *ngIf="!data.status">In Active</span>
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-xs" (click)="showEditModal(data._id)">
                                        <i class="fe fe-edit"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start Here, For Create Distributor -->
<nz-modal [(nzVisible)]="isVisible" nzTitle="Create Distributor" (nzOnCancel)="handleCancel()">
    <form [formGroup]="createDistributorForm">
        <ng-container *nzModalContent>
            <div>
                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" class="form-control" formControlName="first_name" placeholder="Enter First Name"
                        [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }">
                    <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
                        <div *ngIf="f.first_name.errors.required">First name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" class="form-control" formControlName="last_name" placeholder="Enter Last Name"
                        [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }">
                    <div *ngIf="submitted && f.last_name.errors" class="invalid-feedback">
                        <div *ngIf="f.last_name.errors.required">Last name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control" formControlName="phone" placeholder="Enter Phone"
                        [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                        <div *ngIf="f.phone.errors.required">Phone number is required</div>
                        <div *ngIf="f.phone.errors.pattern">Please enter valid phone number</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" formControlName="email" placeholder="Enter Email"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Please enter valid email</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <select formControlName="country_id" class="form-control" #countrySelect
                        (change)="onCountrySelect(countrySelect.value)"
                        [ngClass]="{ 'is-invalid': submitted && f.country_id.errors }">
                        <option value="">Select Country</option>
                        <option *ngFor="let country of countries;" [value]="country._id">{{ country.country_name }}
                        </option>
                    </select>
                    <div *ngIf="submitted && f.country_id.errors" class="invalid-feedback">
                        <div *ngIf="f.country_id.errors.required">Please select any country</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="state">State</label>
                    <select formControlName="state_id" class="form-control" #stateSelect
                        (change)="onStateSelect(stateSelect.value)"
                        [ngClass]="{ 'is-invalid': submitted && f.state_id.errors }">
                        <option value="">Select State</option>
                        <option *ngFor="let state of states;" [value]="state._id">{{ state.state_name }}
                        </option>
                    </select>
                    <div *ngIf="submitted && f.state_id.errors" class="invalid-feedback">
                        <div *ngIf="f.state_id.errors.required">Please select any state</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <select formControlName="city_id" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.city_id.errors }">
                        <option value="">Select City</option>
                        <option *ngFor="let city of cities;" [value]="city._id">{{ city.city_name }}
                        </option>
                    </select>
                    <div *ngIf="submitted && f.city_id.errors" class="invalid-feedback">
                        <div *ngIf="f.city_id.errors.required">Please select any city</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="pincode">Pincode</label>
                    <input type="text" class="form-control" formControlName="pin_code" placeholder="Enter Pincode"
                        [ngClass]="{ 'is-invalid': submitted && f.pin_code.errors }">
                    <div *ngIf="submitted && f.pin_code.errors" class="invalid-feedback">
                        <div *ngIf="f.pin_code.errors.required">Pincode is required</div>
                        <div *ngIf="f.pin_code.errors.pattern">Please enter valid pincode</div>
                        <div *ngIf="f.pin_code.errors.minLength">Pincode should be 6 digits only</div>
                        <div *ngIf="f.pin_code.errors.maxLength">Pincode should be 6 digits only</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="commision">Commision</label>
                    <input type="number" min="0" max="100" class="form-control" formControlName="distributor_commision"
                        placeholder="Enter Commision"
                        [ngClass]="{ 'is-invalid': submitted && f.distributor_commision.errors }">
                    <div *ngIf="submitted && f.distributor_commision.errors" class="invalid-feedback">
                        <div *ngIf="f.distributor_commision.errors.required">Commision is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="distributor_tax_details">Tax Details</label>
                    <input type="text" class="form-control" formControlName="distributor_tax_details"
                        placeholder="Enter Tax Details"
                        [ngClass]="{ 'is-invalid': submitted && f.distributor_tax_details.errors }">
                    <div *ngIf="submitted && f.distributor_tax_details.errors" class="invalid-feedback">
                        <div *ngIf="f.distributor_tax_details.errors.required">Tax details is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="covered_pincode">Covered Pincode</label>

                    <div class="row">
                        <div class="col-md-3 mt-2 inline-box" *ngFor="let value of covered_pincode_item; let i = index">
                            <input type="text" class="form-control" [(ngModel)]="value.value" #name="ngModel"
                                [ngModelOptions]="{standalone: true}">&nbsp;
                            <a (click)="removevalue(i)"> <i class="fa fa-times icon-color"></i></a>
                        </div>

                        <div class="col-md-3 mt-2">
                            <button type="button" (click)="addvalue()" class="btn btn-success">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <div *nzModalFooter>
            <button class="btn btn-default btn-lg" (click)="handleCancel()">Cancel</button>&nbsp;
            <button type="submit" (click)="onSubmit()" class="btn btn-primary btn-lg">Submit</button>
        </div>
    </form>
</nz-modal>
<!-- End Here, For Create Distributor -->

<!-- Start Here, For Edit Distributor -->
<nz-modal [(nzVisible)]="isEditModalVisible" nzTitle="Edit Distributor" (nzOnCancel)="handleEditModalCancel()">
    <form [formGroup]="editDistributorForm">
        <ng-container *nzModalContent>
            <div>
                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" class="form-control" formControlName="first_name" placeholder="Enter First Name"
                        [ngClass]="{ 'is-invalid': submittedEditForm && e.first_name.errors }">
                    <div *ngIf="submittedEditForm && e.first_name.errors" class="invalid-feedback">
                        <div *ngIf="e.first_name.errors.required">First name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" class="form-control" formControlName="last_name" placeholder="Enter Last Name"
                        [ngClass]="{ 'is-invalid': submittedEditForm && e.last_name.errors }">
                    <div *ngIf="submittedEditForm && e.last_name.errors" class="invalid-feedback">
                        <div *ngIf="e.last_name.errors.required">Last name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control" formControlName="phone" placeholder="Enter Phone"
                        [ngClass]="{ 'is-invalid': submittedEditForm && e.phone.errors }">
                    <div *ngIf="submittedEditForm && e.phone.errors" class="invalid-feedback">
                        <div *ngIf="e.phone.errors.required">Phone number is required</div>
                        <div *ngIf="e.phone.errors.pattern">Please enter valid phone number</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" formControlName="email" placeholder="Enter Email"
                        [ngClass]="{ 'is-invalid': submittedEditForm && e.email.errors }">
                    <div *ngIf="submittedEditForm && e.email.errors" class="invalid-feedback">
                        <div *ngIf="e.email.errors.required">Email is required</div>
                        <div *ngIf="e.email.errors.email">Please eneter valid email address</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <select class="form-control" #countrySelect (change)="onCountrySelect(countrySelect.value)">
                        <option value="">Select Country</option>
                        <option *ngFor="let country of countries;" [value]="country._id"
                            [selected]="country._id == e.country_id.value">{{ country.country_name }}
                        </option>
                    </select>
                    <div *ngIf="submittedEditForm && e.country_id.errors" class="invalid-feedback">
                        <div *ngIf="e.country_id.errors.required">Please select any country</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="state">State</label>
                    <select class="form-control" #stateSelect (change)="onStateSelect(stateSelect.value)">
                        <option value="">Select State</option>
                        <option *ngFor="let state of states;" [value]="state._id"
                            [selected]="state._id == e.state_id.value">{{ state.state_name }}
                        </option>
                    </select>
                    <div *ngIf="submittedEditForm && e.state_id.errors" class="invalid-feedback">
                        <div *ngIf="e.state_id.errors.required">Please select any state</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <select class="form-control" #citySelect (change)="onCitySelect(citySelect.value)">
                        <option value="">Select City</option>
                        <option *ngFor="let city of cities;" [selected]="city._id == e.city_id.value"
                            [value]="city._id">{{ city.city_name }}
                        </option>
                    </select>
                    <div *ngIf="submittedEditForm && e.city_id.errors" class="invalid-feedback">
                        <div *ngIf="e.city_id.errors.required">Please select any city</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="pincode">Pincode</label>
                    <input type="text" class="form-control" formControlName="pin_code" placeholder="Enter Pincode"
                        [ngClass]="{ 'is-invalid': submittedEditForm && e.pin_code.errors }">
                    <div *ngIf="submittedEditForm && e.pin_code.errors" class="invalid-feedback">
                        <div *ngIf="e.pin_code.errors.required">Pincode is required</div>
                        <div *ngIf="e.pin_code.errors.pattern">Please enter valid pincode</div>
                        <div *ngIf="e.pin_code.errors.minLength">Pincode should be 6 digits only</div>
                        <div *ngIf="e.pin_code.errors.maxLength">Pincode should be 6 digits only</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="commision">Commision</label>
                    <input type="number" min="0" max="100" class="form-control" formControlName="distributor_commision"
                        placeholder="Enter Commision"
                        [ngClass]="{ 'is-invalid': submittedEditForm && e.distributor_commision.errors }">
                    <div *ngIf="submittedEditForm && e.distributor_commision.errors" class="invalid-feedback">
                        <div *ngIf="e.distributor_commision.errors.required">Commision is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="distributor_tax_details">Tax Details</label>
                    <input type="text" class="form-control" formControlName="distributor_tax_details"
                        placeholder="Enter Tax Details"
                        [ngClass]="{ 'is-invalid': submittedEditForm && e.distributor_tax_details.errors }">
                    <div *ngIf="submittedEditForm && e.distributor_tax_details.errors" class="invalid-feedback">
                        <div *ngIf="e.distributor_tax_details.errors.required">Tax details is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="status">Status</label>&nbsp;
                    <input type="checkbox" id="status" (change)="updateStatus($event)" formControlName="status">
                </div>
                <div class="form-group">
                    <label for="covered_pincode">Covered Pincode</label>

                    <div class="row">
                        <div class="col-md-3 mt-2 inline-box"
                            *ngFor="let value of saved_covered_pincode_item; let i = index">
                            <input type="text" class="form-control" [(ngModel)]="value.value" #name="ngModel"
                                [ngModelOptions]="{standalone: true}">&nbsp;
                            <a (click)="removeEditedPincodevalue()"> <i class="fa fa-times icon-color"></i></a>
                        </div>

                        <div class="col-md-3 mt-2">
                            <button type="button" (click)="addEditedPincodeValue()" class="btn btn-success">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <div *nzModalFooter>
            <button class="btn btn-default btn-lg" (click)="handleEditModalCancel()">Cancel</button>&nbsp;
            <button type="submit" (click)="onSubmitEditForm()" class="btn btn-primary btn-lg">Submit</button>
        </div>
    </form>
    Models Open
</nz-modal>
<!-- End Here, For Edit Distributor -->