<div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="pull-left">
                        Distributors
                    </h4>
                    <button nz-button class="btn btn-primary btn-lg px-5 pull-right" (click)="showModal()">
                        <span>Create</span>
                    </button>
                </div>
                <div class="card-body">
                    <nz-table #rowSelectionTable nzShowPagination nzShowSizeChanger [nzData]="listOfAllData"
                        (nzCurrentPageDataChange)="currentPageDataChange($event)" class="vb__utils__table mb-4">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Pincode</th>
                                <th>Distributor Commision (%)</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of rowSelectionTable.data">
                                <td>{{ data.first_name }} {{ data.last_name }}</td>
                                <td>{{ data.phone }}</td>
                                <td>{{ data.email }}</td>
                                <td>{{ data.pin_code }}</td>
                                <td>{{ data.distributor_commision }}</td>
                                <td>
                                    <button class="btn btn-primary btn-xs"><i class="fe fe-edit"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </div>
        </div>
    </div>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Create Distributor" (nzOnCancel)="handleCancel()">
    <form [formGroup]="createDistributorForm">
        <ng-container *nzModalContent>
            <div>
                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" class="form-control" formControlName="first_name" placeholder="Enter First Name"
                        [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }">
                    <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
                        <div *ngIf="f.first_name.errors.required">First name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" class="form-control" formControlName="last_name" placeholder="Enter Last Name"
                        [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }">
                    <div *ngIf="submitted && f.last_name.errors" class="invalid-feedback">
                        <div *ngIf="f.last_name.errors.required">Last name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control" formControlName="phone" placeholder="Enter Phone"
                        [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                        <div *ngIf="f.phone.errors.required">Phone is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" formControlName="email" placeholder="Enter Email"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Please enter valid email</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <select formControlName="country_id" class="form-control" #countrySelect
                        (change)="onCountrySelect(countrySelect.value)"
                        [ngClass]="{ 'is-invalid': submitted && f.country_id.errors }">
                        <option value="">Select Country</option>
                        <option *ngFor="let country of countries;" [value]="country._id">{{ country.country_name }}
                        </option>
                    </select>
                    <div *ngIf="submitted && f.country_id.errors" class="invalid-feedback">
                        <div *ngIf="f.country_id.errors.required">Please select any country</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="state">State</label>
                    <select formControlName="state_id" class="form-control" #stateSelect
                        (change)="onStateSelect(stateSelect.value)"
                        [ngClass]="{ 'is-invalid': submitted && f.state_id.errors }">
                        <option value="">Select State</option>
                        <option *ngFor="let state of states;" [value]="state._id">{{ state.state_name }}
                        </option>
                    </select>
                    <div *ngIf="submitted && f.state_id.errors" class="invalid-feedback">
                        <div *ngIf="f.state_id.errors.required">Please select any state</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <select formControlName="city_id" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.city_id.errors }">
                        <option value="">Select City</option>
                        <option *ngFor="let city of cities;" [value]="city._id">{{ city.city_name }}
                        </option>
                    </select>
                    <div *ngIf="submitted && f.city_id.errors" class="invalid-feedback">
                        <div *ngIf="f.city_id.errors.required">Please select any city</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="pincode">Pincode</label>
                    <input type="text" class="form-control" formControlName="pin_code" placeholder="Enter Pincode"
                        [ngClass]="{ 'is-invalid': submitted && f.pin_code.errors }">
                    <div *ngIf="submitted && f.pin_code.errors" class="invalid-feedback">
                        <div *ngIf="f.pin_code.errors.required">Pincode is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="commision">Commision</label>
                    <input type="number" min="0" max="100" class="form-control" formControlName="distributor_commision"
                        placeholder="Enter Commision"
                        [ngClass]="{ 'is-invalid': submitted && f.distributor_commision.errors }">
                    <div *ngIf="submitted && f.distributor_commision.errors" class="invalid-feedback">
                        <div *ngIf="f.distributor_commision.errors.required">Commision is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="distributor_tax_details">Tax Details</label>
                    <input type="text" class="form-control" formControlName="distributor_tax_details"
                        placeholder="Enter Tax Details"
                        [ngClass]="{ 'is-invalid': submitted && f.distributor_tax_details.errors }">
                    <div *ngIf="submitted && f.distributor_tax_details.errors" class="invalid-feedback">
                        <div *ngIf="f.distributor_tax_details.errors.required">Tax details is required</div>
                    </div>
                </div>
            </div>
        </ng-container>
        <div *nzModalFooter>
            <button class="btn btn-default btn-lg" (click)="handleCancel()">Cancel</button>&nbsp;
            <button type="submit" (click)="onSubmit()" class="btn btn-primary btn-lg">Submit</button>
        </div>
    </form>
</nz-modal>