.operate {
  margin-bottom: 16px;
}

.operate span {
  margin-left: 8px;
}

.inline-box {
  display: -webkit-inline-box;
}

.icon-color{
  color: #f63737;
}

.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: .125rem;
}